DATABASE_HOST=postgres
DATABASE_DRIVER=postgres
LOGGER_TYPE=tskv
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
NODE_ENV=production
DATABASE_NAME=films
BACKEND_PORT=3000
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=films